@use "../../assets/variables" as *;

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  width:100%;
  height: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-content: center;
  z-index:2 ;
  background-color:rgba($colour-primary, 0.8);
  
  
}
.beer {
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: 50px 700px;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 10px rgba($colour-primary, 0.25);
    margin-top:50px;

    &__img {
      grid-column: 1;
      grid-row:2;
      height:500px;
      max-width: 250px;
   }

   &__info {
    font-family: $font-primary;
    font-size: 18px;
    grid-column: 2;
    grid-row:2;
    text-align: center;

   }
 .beer__img--first{
   justify-content: center;
   grid-column: 1;
   grid-row:2;
    }

 .beer__img--last{
    grid-column: 3;
    grid-row:2;
    }
 .beer__black-cross {
 
   grid-row:1;
   grid-column: 3;
   &:hover {
    cursor: pointer;
  }
  
  
 }
.beer-cross {

  
  padding-left: 200px;
  padding-top:50px;
  
}
}

 div{

    justify-self: center;
 }

 ul{
  display: inline;
  list-style:none;
 }