@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Julius+Sans+One&display=swap');

$colour-primary:#00204a;
$colour-secondary:#005792;
$colour-three:#00bcf059;
$colour-four:#fdb44b;

$font-primary: 'Archivo Narrow', sans-serif;
$font-secondary: 'Julius Sans One', sans-serif;

$tablet:768px;
$laptop:1024px;
$large-screen:1440px;
