@use "./assets/variables" as *;



.punk {
   
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-gap: 10px;
    padding: 10px;


    &__nav {
        padding: 10px;
        border: solid 2px black;
        grid-row: 1 / end span;
    };

   
}

